* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  height: 100dvh;
  width: 100dvw;

  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  padding: 24px;

  background-color: #201f1f;

  color: #fff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
.header-keyword {
  color: red;
}
nav {
  padding: 24px;

  & ul {
    list-style: none;
    font-weight: 700;
    & li {
      margin: 0 1rem;
      padding: 1em;
      & a {
        color: inherit;
        &:hover {
          color: red;
        }
      }
    }
  }
}